In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from scipy.linalg import sqrtm
from copy import deepcopy

In [2]:
## load data
train = pd.read_csv('cleaned_data/final_data_prepared.csv')
#train2 = pd.read_csv('cleaned_data/DataMulticlass_6_withpast2.csv')
test = pd.read_csv('sampleSubmission.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3394 entries, 0 to 3393
Columns: 1006 entries, Unnamed: 0 to transactionDate
dtypes: float64(1001), int64(1), object(4)
memory usage: 26.0+ MB

In [4]:
## fill missing values
train['Gender'].fillna('no_gender', inplace=True)
train['State'].fillna('no_state', inplace=True)

In [5]:
train.head()

,Unnamed: 0,1000000263.0_prev,1000001687.0_prev,1000001696.0_prev,1000001721.0_prev,1000001730.0_prev,1000001767.0_prev,1000005980.0_prev,1000009993.0_prev,1000010375.0_prev,...,500097716.0_prev,500273977.0_prev,530000032.0_prev,530000111.0_prev,800020105.0_prev,Gender,State,customerID,target,transactionDate
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,456.0,2016-06-28
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,447.0,2016-06-28
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,439.0,2016-06-28
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,438.0,2016-06-28
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,446.0,2016-06-28

In [6]:
prod_dict = {'_'}

#train = pd.get_dummies(train, columns=['product_code'], prefix=prod_dict)
#train.columns=train.columns.str.replace('_5','')
#train.columns=train.columns.str.replace('_4','')
#train.columns=train.columns.str.replace('_3','')
#train.columns=train.columns.str.replace('_2','')
#train.columns=train.columns.str.replace('_1','')
train.columns=train.columns.str.replace('.0_prev','')
train.reset_index(drop=True).head()

,Unnamed: 0,1000000263,1000001687,1000001696,1000001721,1000001730,1000001767,1000005980,1000009993,1000010375,...,500097716,500273977,530000032,530000111,800020105,Gender,State,customerID,target,transactionDate
0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,456.0,2016-06-28
1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,447.0,2016-06-28
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,439.0,2016-06-28
3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,438.0,2016-06-28
4,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,446.0,2016-06-28

In [7]:
train.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
train.head()

,1000000263,1000001687,1000001696,1000001721,1000001730,1000001767,1000005980,1000009993,1000010375,1000010393,...,500097716,500273977,530000032,530000111,800020105,Gender,State,customerID,target,transactionDate
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,456.0,2016-06-28
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,447.0,2016-06-28
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,439.0,2016-06-28
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,438.0,2016-06-28
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,male,no_state,BBID_204735,446.0,2016-06-28

In [9]:
test = test[['customerID']]

In [11]:
true = deepcopy(train)

In [12]:
users = true['customerID'].tolist()
true.drop('customerID', axis=1, inplace=True)
true.drop('Gender', axis=1, inplace=True)
true.drop('State', axis=1, inplace=True)
true.drop('transactionDate', axis=1, inplace=True)
true.drop('target', axis=1, inplace=True)

items = true.columns.tolist()
u = {}
for i in range(len(users)):
    u[users[i]] = i

trueMat = np.array(true)
print("users dict formed")

users dict formed

In [13]:
def reorder(train):
    train.index = train['customerID'].tolist()
    train.drop('customerID', axis=1, inplace=True)
    train.drop('Gender', axis=1, inplace=True)
    train.drop('State', axis=1, inplace=True)
    train.drop('transactionDate', axis=1, inplace=True)
    train.drop('target', axis=1, inplace=True)
    #train.drop('storecode', axis=1, inplace=True)
    #train.drop('transactionnumberbytill', axis=1, inplace=True)
    train = train.reindex(users)
    return train

In [14]:
train = reorder(train)

In [15]:
train.head()

,1000000263,1000001687,1000001696,1000001721,1000001730,1000001767,1000005980,1000009993,1000010375,1000010393,...,301024970,301025025,301026534,301026560,500096181,500097716,500273977,530000032,530000111,800020105
BBID_204735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BBID_204735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BBID_204735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BBID_204735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BBID_204735,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
def svd(train, trueMat, k):
    utilMat = np.array(train)

    mask = np.isnan(utilMat)
    masked_arr=np.ma.masked_array(utilMat, mask)
    item_means=np.mean(masked_arr, axis=0)
    utilMat = masked_arr.filled(item_means)

    x = np.tile(item_means, (utilMat.shape[0],1))

    utilMat = utilMat - x

    print(utilMat)

    U, s, V=np.linalg.svd(utilMat, full_matrices=False)
    s=np.diag(s)
    s=s[0:k,0:k]
    U=U[:,0:k]
    V=V[0:k,:]

    s_root=sqrtm(s)

    Usk=np.dot(U,s_root)
    skV=np.dot(s_root,V)
    UsV = np.dot(Usk, skV)

    UsV = UsV + x

    UsV = np.ma.masked_where(trueMat==1,UsV).filled(fill_value=-999)

    #print(UsV)
    print("svd done")
    return UsV

In [17]:
def max_items(UsV,x,j):
    out = []

    for xx in x:
        if UsV[j,xx]>0.001: # setting a threshold
            out.append(items[xx])
        
    if len(out) < 20:
        for j in range(20 - len(out)):
            out.append("None")
        

    return out

In [18]:
def recommend(test):

    UsV = (5*svd(train=train,trueMat=trueMat,k=16) + 5*svd(train=train, trueMat=trueMat, k=16))/10
    #UsV = svd(train=train,trueMat=trueMat,k=8)/2
    pred = []
    testusers = test['customerID'].tolist()

    n = 20
    for user in testusers[:]:
        if user not in u:
            pred.append("300776411,300776410,108037568,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None")
            #pred.append("1000256435,300785148,1000256370,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None")
            test['products'] = pd.Series(pred)
        else:
            j = u[user]
            p = max_items(UsV, UsV[j,:].argsort()[-n:][::-1], j)
            pred.append(",".join(p))
            print(len(p))
            test['products'] = pd.Series(pred)
    #test['products'] = pred
    test.to_csv('final_svd_k16.csv', index=False)

In [19]:
recommend(test)

[[0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 ...,
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]]
svd done
[[0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 ...,
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]
 [0.0 0.0 0.0 ..., 0.0 0.0 0.0]]
svd done
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20
20

In [ ]:

import matplotlib.pyplot as plt
%matplotlib inline
plt.plot(svd(train=train,trueMat=trueMat,k=30))